body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
}
label {
  display: block;
  margin: 0.5rem 0;
}
h1,
p {
  margin: 1em auto;
  text-align: center;
}
form {
  margin: 0 auto;
  max-width: 500px;
  min-width: 300px;
  width: 60vw;
  padding-bottom: 2em;
}
fieldset {
  border: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 0;
  padding-right: 0;
}
fieldset:not(:last-of-type) {
  border-bottom: 3px solid;
  border-color: #3b3b4f;
  border-style: solid;
}
input,
textarea,
select {
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.inline {
  width: unset;
  margin-right: 0.5em;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  vertical-align: middle;
}
input,
textarea {
  background-color: #0a0a23;
  border-style: solid;
  border-color: #0a0a23;
  border-width: 1px;
  color: #ffffff;
  min-height: 2em;
}
input[type="submit"] {
  display: block;
  width: 60%;
  margin: 0 auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
  margin-top: 1em;
  margin-bottom: 1em;
  transition: .5s;
}
input[type="file"] {
  padding: 1px 2px;
}
a {
  color: #dfdfe2;
}

input[type="submit"]:hover{
  background-color:#03e9f4;
  cursor: pointer;
  color:#000;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4,
    0 0 50px #03e9f4, 0 0 100px #03e9f4;
}
